<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Apprenez autrement!</h2>
                <hr class="light">
                <p class="text-faded">
                The Hacking Project, c'est l'éducation nouvelle génération, à la fois :
                    <ul>
                        <li><strong>Gratuite</strong> : une caution de 200€ vous est restituée si vous terminez la formation</li>
                        <li><strong>Concrète</strong> : tout ce que vous apprenez est destiné à être réutilisé dans un projet final lors des deux dernières semaines. Vous aviez une idée de startup en tête ? C'est l'occasion de lancer votre <a href="https://fr.wikipedia.org/wiki/Produit_minimum_viable">MVP</a></li>
                        <li><strong>Collaborative</strong> : The Hacking Project, ce n'est pas une formation à distance mais du <a href="http://www.42.fr/peer-learning/">peer learning</a>. Vous apprenez à rechercher l'information par vous-même et à travailler en mode projet.</li>
                    </ul>
                </p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <form>
                <a class="btn btn-default btn-xl" href="https://www.thehackingproject.org/code">En savoir +</a>
            </div>
        </div>
    </div>
</section>

