    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
         	 </br></br>
            <h1 class="text-uppercase">
              <strong>3 mois pour être développeur web</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">The Hacking Project, c'est une formation de 3 mois à l'issue de laquelle vous êtes en mesure de développer un site complexe du type AirBnB.</p>
          </div>
           <div class="col-lg-8 mx-auto">
           	<%= render "subscribers/new-suscriber" %>
           </div>
          </div>
        </div>
      </div>
    </header>